@import url("https://fonts.googleapis.com/css?family=Spartan:300,600&display=swap");

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
